.menu-nav {
  &__li {
    height: 32px;
    position: relative;
    margin-bottom: 24px;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 32px;
      background-color: #41f6d7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: scale(0);
      transition-duration: 0.3s;
    }
    &:hover {
      &::before {
        transition-duration: 0.3s;
        transform: scale(1);
      }
      .menu-nav__link {
        color: $grey-text-color;
        transition-duration: 0.2s;
      }
    }
    &--current {
      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 32px;
        background-color: #41f6d7;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: scale(1);
      }
      .menu-nav__link {
        color: $grey-text-color;
      }
    }
  }
  &__link {
    margin-left: 20px;
    padding-top: 4px;
    font-size: 16px;
    display: block;
    color: black;
    text-decoration: none;
    font-family: $font-family-lakes;
    font-weight: 500;
    & + .menu-nav__li--current {
      color: $grey-text-color;
    }
  }
}
