.repair-section-header {
  background: linear-gradient(to right, $background-color-light-grey, white);
  border-top: 1px solid $border-color;
  min-height: 56px;
  max-height: 80px;
  min-width: 100%;
  &__headline {
    text-transform: uppercase;
    font-family: $font-family-lakes;
    color: $grey-text-color;
    font-size: 16px;
    display: block;
    margin: 16px;
    @media (min-width: $tablet-width) {
      margin: 16px 24px;
    }
  }
}
