doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    footer.footer
      p.footer__text
        | © 2019 CPS 
        br
        |         Разработано командой Apesong
      p.footer__text Политика конфиденциальности
      p.footer__text
        | Информация, размещенная на данной странице, не является публичной
        | офертой
