doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  
    section.repair-various-section
      .repair-section-header
        h2.repair-section-header__headline Ремонт видов техники
      .repair-various-section__swiper.swiper
        .swiper-wrapper
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ноутбуков
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт планшетов
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ПК
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт мониторов
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ремонта
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ремонта
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ремонта
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ремонта
            button.repair-various-section__swiper-card--button
          .repair-various-section__swiper-card.swiper-slide
            .repair-various-section__swiper-card--text Ремонт ремонта
            button.repair-various-section__swiper-card--button
        .repair-section__pagination.swiper-pagination
        button.repair-various-section__button-show-hide Показать все
