doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    section.repair-price-section
      .repair-section-header
        h2.repair-section-header__headline Цены на услуги
      div.layout-wrapper
        .repair-price-section__swiper.swiper
          .swiper-wrapper
            .swiper-slide.repair-price-section__swiper-card
              .repair-price-section__swiper-card--text Ремонтные услуги
              .repair-price-section__swiper-card--text Диагностика
              .repair-price-section__swiper-card--text Цена
              .repair-price-section__swiper-card--text Бесплатно
              .repair-price-section__swiper-card--button-container
                .repair-price-section__swiper-card--text-container
                  .repair-price-section__swiper-card--text Срок
                  .repair-price-section__swiper-card--text 30мин
                button.repair-price-section__swiper-card--button Заказать
            .swiper-slide.repair-price-section__swiper-card
              .repair-price-section__swiper-card--text Ремонтные услуги
              .repair-price-section__swiper-card--text Замена дисплея
              .repair-price-section__swiper-card--text Цена
              .repair-price-section__swiper-card--text 1 000 ₽
              .repair-price-section__swiper-card--button-container
                .repair-price-section__swiper-card--text-container
                  .repair-price-section__swiper-card--text Срок
                  .repair-price-section__swiper-card--text 30-120 мин
                button.repair-price-section__swiper-card--button Заказать
            .swiper-slide.repair-price-section__swiper-card
              .repair-price-section__swiper-card--text Ремонтные услуги
              .repair-price-section__swiper-card--text Замена полифонического динамика
              .repair-price-section__swiper-card--text Цена
              .repair-price-section__swiper-card--text 1 000 ₽
              .repair-price-section__swiper-card--button-container
                .repair-price-section__swiper-card--text-container
                  .repair-price-section__swiper-card--text Срок
                  .repair-price-section__swiper-card--text 30-120 мин
                button.repair-price-section__swiper-card--button Заказать
            .swiper-slide.repair-price-section__swiper-card
              .repair-price-section__swiper-card--text Ремонтные услуги
              .repair-price-section__swiper-card--text Тестирование с выдачей технического заключения
              .repair-price-section__swiper-card--text Цена
              .repair-price-section__swiper-card--text 1 000 ₽
              .repair-price-section__swiper-card--button-container
                .repair-price-section__swiper-card--text-container
                  .repair-price-section__swiper-card--text Срок
                  .repair-price-section__swiper-card--text 30-120 мин
                button.repair-price-section__swiper-card--button Заказать
            .swiper-slide.repair-price-section__swiper-card
              .repair-price-section__swiper-card--text Ремонтные услуги
              .repair-price-section__swiper-card--text Замена программного обеспечения
              .repair-price-section__swiper-card--text Цена
              .repair-price-section__swiper-card--text 1 000 ₽
              .repair-price-section__swiper-card--button-container
                .repair-price-section__swiper-card--text-container
                  .repair-price-section__swiper-card--text Срок
                  .repair-price-section__swiper-card--text 30-120 мин
                button.repair-price-section__swiper-card--button Заказать
          .repair-section__pagination.swiper-pagination
        table.repair-price-section__table
          thead.repair-price-section__table--header
            tr.repair-price-section__table--header--row
              th.repair-price-section__table--header--cell Ремонтные услуги
              th.repair-price-section__table--header--cell Цена
              th.repair-price-section__table--header--cell Срок
            tr.repair-price-section__table--row
              td.repair-price-section__table--cell Диагностика
              td.repair-price-section__table--cell Бесплатно
              td.repair-price-section__table--cell 30 мин
              td.repair-price-section__table--cell
                button.repair-price-section__table--cell--button Заказать
            tr.repair-price-section__table--row
              td.repair-price-section__table--cell Замена дисплея
              td.repair-price-section__table--cell 1 000 ₽
              td.repair-price-section__table--cell 30-120 мин
              td.repair-price-section__table--cell
                button.repair-price-section__table--cell--button Заказать
            tr.repair-price-section__table--row
              td.repair-price-section__table--cell Замена полифонического динамика
              td.repair-price-section__table--cell 1 000 ₽
              td.repair-price-section__table--cell 30-120 мин
              td.repair-price-section__table--cell
                button.repair-price-section__table--cell--button Заказать
            tr.repair-price-section__table--row
              td.repair-price-section__table--cell Тестирование с выдачей технического заключения
              td.repair-price-section__table--cell 1 000 ₽
              td.repair-price-section__table--cell 30-120 мин
              td.repair-price-section__table--cell
                button.repair-price-section__table--cell--button Заказать
            tr.repair-price-section__table--row
              td.repair-price-section__table--cell Замена программного обеспечения
              td.repair-price-section__table--cell 1 000 ₽
              td.repair-price-section__table--cell 30-120 мин
              td.repair-price-section__table--cell
                button.repair-price-section__table--cell--button Заказать
        div.text-layout
          p.repair-price-section__text
            | Все цены указаны с учетом НДС. Стоимость ремонта указана на единичную
            | услугу. Для получения коммерческого предложения на постоянное
            | обслуживание, оставьте заявку.
          button.repair-price-section__button Получить коммерческое предложение
