doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')  
    section.repair-brand-section
      .repair-section-header
        h2.repair-section-header__headline Ремонт техники различных брендов
      .repair-brand-section__swiper.swiper
        .swiper-wrapper
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/lenovoLogo.svg' alt='lenovoLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/samsungLogo.svg' alt='samsungLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/appleLogo.svg' alt='appleLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/boschLogo.svg' alt='boschLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/hpLogo.svg' alt='hpLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/acerLogo.svg' alt='acerLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/viewSonicLogo.svg' alt='viewSonicLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/sonyLogo.svg' alt='sonyLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/lenovoLogo.svg' alt='lenovoLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/samsungLogo.svg' alt='samsungLogo')
            button.repair-brand-section__swiper-card--button
          .repair-brand-section__swiper-card.swiper-slide
            img.repair-brand-section__swiper-card--image(src='./img/boschLogo.svg' alt='appleLogo')
            button.repair-brand-section__swiper-card--button
        .repair-section__pagination.swiper-pagination
        button.repair-brand-section__button-show-hide Показать все
