$highlight-color: #41f6d7;
$splitter-color: #eaeaea;
$border-color: #d9fff5;
$button-border: #b8ffec;
$grey-text-color: #7e7e82;
$background-color-light-grey: #f8f8f8;
$pagination-chosen-color: #b5b6bc;
$pagination-color: #dddddd;
$button-color: #ff3e79;

$mobile-width: 319.9px;
$tablet-width: 767.9px;
$normal-width: 1119.9px;

$font-family-lakes: 'TT Lakes', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
  sans-serif;
